* {

}

.navbg {
    background-color: red;
    height: 200px;
}

.navleft {
    padding: 10px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

.navright {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
}

.img {
    position: relative;
}